.featured {
  position: relative;
}

.bubble {
  content: ““;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #f5034e;
  top: 0;
  left: 0;
  z-index: -1;
}
.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #00a5a8;
  letter-spacing: 0.2em;
  font-size: 1.15em;
}
h2 {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}
.featured-desc {
  color: #3b3b3b;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}
