.hero {
  background-color: #00405e;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}
h1 {
  color: #00a5a8;
}
.calltoaction {
  color: #f5034e;
}
.herodesign {
  display: none;
}
.scroll {
  width: 30px;
  margin-top: 2em;
}
